
<!--

<div class="hero-image hero-image-fullscreen" style="background-image: url('{{ .background | relURL }}');">
    <div class="container ">
      <div class="frontpage-hero-text">
        <span class="hero-section">{{ .section }}</span>
        <h1>{{ .heading }}</h1>
        <p>{{ .subheading }}</p>
      </div>
    </div>
</div>
-->

<div id="hero" class="hero-image hero-image-setheight hero-responsive" style="margin-top: 60px; color: #ffffff!important; background-image: url('{{ .background | relURL }}')">
  <!-- Responsive logo overlay -->
  <div class="hero-logo-overlay">
    <img src="{{ "images/logo.svg" | relURL }}" alt="FSO Logo" class="hero-logo-responsive">
  </div>
  
  <div class="container ">
    <div class="frontpage-hero-text">
<!--      <span class="hero-section">{{ .section }}</span> -->
      <h1>{{ .heading }}</h1>
      <p>{{ .subheading }}</p>
    </div>
  </div>
</div>

{{ .Site.BaseURL }}